{%extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <form method='POST'>
            <div class="mt-3 px-4 justify-content-center"> 
                <span class="text-uppercase name">Profile Picture</span>
                <div class="d-flex flex-row mt-2 ">
                    <img src="{{imagefile}}" width="120" height ="120" class="rounded">
                    <div class="">
                        <div>
                            <span class="ms-3 text-uppercase name">Username: {{username}}</span>
                        </div>
                        <div class="mt-2">
                            <input class=" ms-3 form-control " type="url" placeholder='Insert Profile Picture URL' name='URLpp' value={{linkAv}}>
                            <button class="ms-3 mt-2 btn btn-primary" name='savePp' value='1'>Save Profile Picture</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 px-4"> 
                <span class="text-uppercase">Email</span> 
                <input type="text" class="form-control" placeholder="{{email_box}}"> 
            </div>

            <div class="row mt-3 g-2">
                <div class="col-md-6">
                    <div class="px-4">
                        <span class="text-uppercase">Password</span>
                        <input type="text" class="form-control" placeholder="••••••••••••••••">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="px-4">
                        <span class="text-uppercase">Confirm password</span>
                        <input type="text" class="form-control" placeholder="••••••••••••••••">
                    </div>
                </div>
            </div>

            <div class="mt-3 px-4 d-flex justify-content-between align-items-center"> 
                <button class="btn btn-primary" name='saveChanges' value='1'>Save changes</button> 
            </div>
        </form>
    </div>
</div>
{% endblock %}