{%extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<form method = 'POST'>
    <!--Title of the page-->
    <h3 align= "center">Sign Up</h3>

    <!--Enter email box-->
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter Email" 
        />
    </div>

    <!--Enter username box-->
    <div class="form-group">
        <label for="userName">Username</label>
        <input 
        type="text" 
        class="form-control" 
        id="userName" 
        name="userName" 
        placeholder="Enter Username" 
        />
    </div>

    <!--Enter password box-->
    <div class="form-group">
        <label for="password1">Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password" 
        />
    </div>

    <!--Confirm password box-->
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input 
        type="password" 
        class="form-control" 
        id="password2" 
        name="password2" 
        placeholder="Confirm Password" 
        />
    </div>

    <!--Break-->
    <br/>

    <!--Sign up button-->
    <button type="submit" class="btn btn-primary">Sign Up</button>

{% endblock %}